<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>List</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-button (click)="addPhrase()">Add New Phrase</ion-button>
  <ion-list>
    <ion-item class="listItem" color="secondary" *ngFor="let p of phrases.phrases">
      <ion-label>
        <p class="smallList">{{p.phrase_text}}</p>
        <p class="smallList">{{p.phrase_context}}</p>
        <p class="smallList">{{p.date_added}}</p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
