<ion-header>
  <ion-toolbar>
    <ion-title>
      Phrases From Friends
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <ion-item *ngFor="let f of friends" (click)="showList(f.friend_id)" class="homeItem" color="secondary">
      <ion-label slot="start">{{ f.nickname }}</ion-label>
      <ion-icon name="arrow-forward" slot="end"></ion-icon>
    </ion-item>
  </ion-list>
  <ion-button (click)="addFriend()" expand="full">Add New Friend</ion-button>
</ion-content>
